$bg-color: #17a2b8;
$form-bg-color: #eaeaea;
$form-border-color: #9c9c9c;
body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  height: 100vh;
}

#_form-box {
  margin-top: 150px;
  max-width: 600px;
  /* height: 320px; */
  border-radius: 5px;
  background-color: $form-bg-color;
  border: 1px solid #9c9c9c;
}

#_form-form {
  padding: 20px;
}
.landing {
  height: 60vh;
  margin-top: 15vh;
  background: url(/static/images/kari-shea-apcUIqOPEIo-unsplash.jpg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

%hightlight-black {
  background-color: rgba(0, 0, 0, 0.85);
  color: whitesmoke;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

.highlight {
  @extend %hightlight-black;
}

#landing-btn {
  min-width: 400px;
}


/* from https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */

input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}

#rating_out {
  @extend %hightlight-black;
  font-size: x-large;
  font-weight: bolder;
}

#review-form {
  max-width: 500px;
}


#landing-title,
#landing-title-2 {
  display: none;
}

#no-comment-txt {
  margin-top: 5rem;
  display: block;
  background-color: rgba(0, 0, 0, 0.85);
  color: whitesmoke;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 2.5rem;
}

/*# sourceMappingURL=style.css.map */
@media screen and (min-width: 1000px) {
  #landing-btn {
    min-width: 400px;
  }
  #landing-title,
  #no-comment-txt {
    display: block;
    background-color: rgba(0, 0, 0, 0.85);
    color: whitesmoke;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 6.5rem;
  }

  #landing-title-2 {
    display: inline;
    background-color: rgba(0, 0, 0, 0.85);
    color: whitesmoke;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 2.5rem;
  }

  #others-comment{
    width: 300px;
  }
}
